body{
  margin: 0;
  padding: 0;
}
.Main_Outer{
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
 background-position: center;
background-image: url("https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?auto=compress&cs=tinysrgb&w=1600");
/* background-image: url("https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  /* background-color: rgb(0, 10, 10); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.head{
  color: white;
}

.Main_inner{
  border: 1px solid rgb(5, 5, 5);
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  width: 100vw; */
}

.Weather_box1{
 height: 75vh;
 display:flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: space-around;
 background-size: cover;
background-repeat: no-repeat;
 background-position: center;
 background-image: url("https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&w=1600");
 width: 35vw;
 /* background-color: rgb(10, 87, 150); */
 /* opacity:0.8 ; */


 /* background-image: url("https://images.pexels.com/photos/756856/pexels-photo-756856.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
  /* border: 1px solid red; */

}

.dis_names{
  text-transform: capitalize;
  font-size:2rem;
  color: white;

  display: flex;
  flex-direction: column;
  align-items:flex-end ;
  justify-content:space-around;
  padding: 0.5rem 1.8rem;

}
.temp_outer{
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  align-items: center ;
  justify-content:space-between;
  font-size: 1rem;
  color: white;
  /* border: 1px solid rgb(10, 10, 10); */
}

.dis_time{
  text-transform: capitalize;
  font-size: 1.5rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.dis_temp{
  font-size: 2rem;
}

.Weather_box2{
  height: 75vh;
 width: 25vw;
 color: white;
 background-color: black;
 opacity: 0.9;
  /* border: 1px solid yellowgreen; */
  
}

.input_outer{
  /* border: 1px solid white; */
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly ;
}

.icon_Dis{
 color: white;
  font-size: 3.5rem;
}



.search_bar{
  text-transform: capitalize;
  all: unset;
  font-size: 1.5rem;
  color: white;
}
.search_box{
  padding:0.3rem 0.5rem;
}
.search_box:hover{
  display: flex;
  flex-wrap: nowrap;
align-items: center;
  justify-content: space-around;
   /* border: 1px solid white; */
   box-shadow: 0px 0px 2px white;
}
.input_icon{
  font-size: 1.2rem;
}
.dis_search{
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.data_output{
  text-transform: capitalize;
  height: 24vh;
  width: 15vw;
  /* border: 1px solid white; */
}

.data_output > h3 {
  color: rgb(128, 124, 124);
  font-size: 1.3rem;
  padding: 0.2rem;
   border-bottom: 1px solid white;
}

.show_input{
  text-align: center;
  padding-left: 1rem;
  color: white;
}

.error-mss{
  align-items: center;
  font-size: 2rem;
  color: red;
}